body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

/* header part*/

.navbar {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 100px
}

.header-logo img {
    width: 150px;
    height: 150px;
}

.navbar a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 50px;

}

.header-links a {
    font-size: 20px;
}

/*hero part*/

.hero-container {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 70px;

}

.hero-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: Roboto;
    margin-right: 10px;
    width: 30%;
}

.hero-info button {
    display: block;
    width: 120px;
    color: #fff;
    background-color: #3882f6;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    padding: 10px
}


.hero-image img {
    width: 350px;
    height: 350px;
}

/* content */   
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-info {
    display: flex;
    gap: 20px;
}

.content-info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/*quote */
.container_quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    padding:0 150px;
    margin-top: 20px;
}

.container_quote p {
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto';
}

.container_quote .author{
    text-align: right;
}

.call_to_arms {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    color: #E5E7EB;
    align-items: center;
    padding: 10px;
    margin: 50px 300px;
}

.call_to_arms .text {
    color: #fff;
    text-align: left;
    flex: 1;
    margin-left: 50px;
}

.sign-up {
    display: block;
    width: 120px;
    color: #fff;
    font-size: 20px;
    font-family: Roboto;
    background-color: #3882f6;
    border-radius: 20px;
    border-color: #fff;
    margin-right: 50px;
}

.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 2px;
}